html, .Start{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

html::-webkit-scrollbar {
    display: none;
  }

@font-face {
    font-family: 'Macondo';
    src: url('Macondo.ttf') format('truetype');
    font-weight:lighter;
    font-style: normal;
}

.NAV{
    margin: 0;
    padding: 0 2%;
    background-color: #1e1e1e;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.LOGO{
    height: var(--item-logo);
}

.LOGO-TEXT{
    color: #fff;
    font-family: "Macondo";
}

li{
    margin-right: 1%;
}

.ITEMS button, .button{
    background-color: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1%;
    cursor: pointer;
}

.ITEMS{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ITEMS img{
    height: var(--item-img);
}

.HOME{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HOME img{
    width: var(--img-width);
    margin-right: 5%;
}

.HOME h1{
    width: 100%;
    margin: auto;
    font-size: var(--font-sixe);
    font-family: "Macondo";
}

.SEP{
    width: 100%;
    display: flex;
    justify-content: center;
}

.SEP img{
    height: var(--SEP-heihgt);
}

.MENU{
    width: 100%;
    margin: 15% 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.MENU h1{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: var(--menu-text);
}

.CARDS{
    width: 100%;
    gap: 2%;
    height: 100%;
    justify-content: space-around;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.signin{
    margin-top: 20px;
    cursor: pointer;
}
.CARD{
    width: var(--card);
    height: fit-content;
    padding-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.CARD img{
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 10px;
    opacity: 1/1;
}

.CARD h1, p, h2{
    width: 92%;
    margin: auto;
    text-align: start;
    margin-bottom: 10px;
    background-color: transparent;
}

.CARD h1{
    font-size: 2rem;
}

.CARD button{
    width: 60%;
    padding: 1%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    
}

.Info{
    width: 100%;
    display: flex;
}

.Info h2{
    width: 50%;
    margin-right: auto;
    text-anchor: middle;
}

.Count-Info{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

@media screen and (min-width: 1024px) {
    :root{
        --font-sixe: 7rem;
        --img-width: 30%;
        --SEP-heihgt: 40px;
        --item-img: 40px;
        --item-logo: 60px;
        --menu-text: 7rem;
        --card: 368px;
    }
}

@media screen and (max-width: 1024px) {
    :root{
        --font-sixe: 3rem;
        --img-width: 40%;
        --SEP-heihgt: 20px;
        --item-img: 35px;
        --item-logo: 50px;
        --menu-text: 5rem;
        --card: 350px;
    }
}

@media screen and (max-width: 720px) {
    :root{
        --font-sixe: 2rem;
        --img-width: 30%;
        --SEP-heihgt: 20px;
        --item-img: 30px;
        --item-text: 1rem;
        --item-logo: 30px;
        --menu-text: 3rem;
        --card: 330px;
    }
}

.form-popup {
    display: none;
    position: absolute;
    top: 101px;
    right: 0;
    border: 3px solid #000000;
    
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  .form-container .btn {
    background-color: #414241;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

