{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'AUT/AUT.css' %}?v=2" rel="stylesheet">
	</head>
<body >
<div class="box">
       <h1>Аунтефикация</h1>
       <form class="form" method="post">
		{% csrf_token %}
         <div class="form-error">{{ form.non_field_errors }}</div>
		{% for f in form %}
			<p>{{ f }}</p>
			<div class="form-error"><p>{{ f.errors }}</p></div>
		{% endfor %}
		<button class="btn" type="submit">Войти</button>
	</form>
</div>
</body>
</html>